@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@use "color-scheme.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  transition: all 0.3s ease-in;
  background-color: rgb(32, 32, 35);
  font-family: "Poppins", sans-serif;
  cursor: none;
}

//SCROLLING-ACTIVE
.scrolling-active {
  padding: 0em;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: #ffffff40;
  z-index:  2;
}



//SCROLLING-ACTIVE

// MOBILE MENU

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 40vw;
  transform: translateX(100%);
  background-color: black;
  transition: 0.3s all ease-in;
  z-index: 4;
  button {
    padding: 1em;
    background-color: transparent;
    margin-left: auto;
    position: absolute;
    border: none;
    right: 0;
    svg {
      height: 40px;
    }
  }
  ul{
    display: flex;
    flex-direction: column;
    margin-top: 6em;
    margin-left: 2em;
    a{
      font-size: 1.5em;
      list-style-type: none;
      margin-top: 1em;
      &:hover{
        transform: translateY(-5px);
        transition: all .3s ease;
        cursor: none;
      }
    }
  }
}

.mobile-flex {
  transform: translateX(0);
}

// MOBILE MENU

// MODAL

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 200vh;
  transition: 0.3s all ease-in;
  display: none;
  z-index: 2;
}
.modal-active {
  display: flex;
}

// MODAL

//CURSOR



//CURSOR

header {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.4s all ease-in;
  padding: 1em;
  z-index: 2;
  nav {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 2em;
    justify-content: space-between;
    color: white;

    ul {
      span {
        font-size: 2em;
      }
      a {
        text-decoration: none;
        color: white;
        font-size: 1.8em;
        margin-left: 1em;
        position: relative;
        &:hover{
          cursor: none;
        }      
      }
    }
    .right-side {
      display: flex;
      margin-left: auto;
      margin-right: 1.2em;

      .dark-mode {
        padding: 0.5em;
        border-radius: 12px;
        margin-right: 1em;
        height: fit-content;
        background-color: #fbd38d;
        border: none;
        margin-top: auto;
        margin-bottom: auto;
        &:hover{
          cursor: none;
        }
        
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

//MARGIN

.margin {
  height: 12em;
}

// MARGIN

//LOGO
.LOGO{
h1 a {
  color: #fff;
  font-size: 8vw;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: "Dosis", sans-serif;
  &:hover{
    cursor: none;
  }
}
}

/*effect-underline*/
a.effect-underline:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

//LOGO

// COLOR SCHEME

.color-selector {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  &:hover{
    cursor: none;
  }
}
.color-other {
  flex-direction: column;
  position: absolute;
  left: 35px;
  top: 60px;
  display: none;
  transition: .1s all ease-in;
  }
  a {
    color: white;
    position: relative;
  }

.flex {
  transition: .1s all ease-in;
  display: flex;
}

.original {
  position: relative;
  text-decoration: none;
  .original-circle {
    position: absolute;
    left: -19px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: linear-gradient(-45deg, white, white 49%, white 49%, white 51%, black 51%);
    bottom: 6px;
    border: 0.5px solid white;
  }
}

.candy {
  position: relative;
  text-decoration: none;
  .candy-circle {
    position: absolute;
    left: -19px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #eb459e;
    bottom: 6px;
    border: 0.5px solid white;
  }
}

.cofee {
  position: relative;
  text-decoration: none;
  .cofee-circle {
    position: absolute;
    left: -19px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #582812;
    bottom: 6px;
    border: 0.5px solid white;
  }
}
.grass {
  position: relative;
  text-decoration: none;
  .grass-circle {
    position: absolute;
    left: -19px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #57f287;
    bottom: 6px;
    border: 0.5px solid white;
  }
}

.candy-class {
  color: #eb459e !important;
}

.grass-class {
  color: #57f287 !important;
}

.cofee-class {
  color: #582812 !important;
}
.candy-cursor {
  background-color: #eb459e !important;
}

.grass-cursor {
  background-color: #57f287 !important;
}

.cofee-cursor {
  background-color: #582812 !important;
}

.glow-on-hover {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #111;
  background: #fff;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 500;
  &:hover{
    cursor: none;
  }
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

// COLOR SCHEME

// HAMBURGER MENU
#check {
  background-color: transparent;
  border: none;
  display: none;
}
// HAMBURGER MENU

//IAM

.iam{
display: flex;
justify-content: center;
align-items: center;
margin-top: 1.5em;
h3{
 padding: 1em;
 background-color: rgba(255, 255, 255, 0.08);
 border-radius: 8px;
 color: white;
 font-weight: 500;
 text-align: center;
 margin-left: 1em;
 margin-right: 1em;
 transition: all .3s ease-in;
 &:hover{
  background-color: rgba(255, 255, 255, 0.2);
 }
}
}

//IAM


// EXPERIENCE
.experience{
  width: 80%;
  margin: 5em auto 0 auto;
  color: white;
  h3{
    font-size: 2em;
  }
  
  .first-experience{
    margin-top: 3em;
    h3{
      font-size: 1.6em;
      
    }
    &-description{
      display: flex;
      margin-top: 1em;
    
    ul{
      list-style-type: none;
      margin-left: 3em;
      margin-top: auto;
      margin-bottom: auto;
      li{
        margin-top: 1em;
        font-weight: 700;
      } 
    }
    img{
      height: 300px;
      width: auto;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      border-radius: 14px;
    }
  }
  }

}


// EXPERIENCE


//COMPETENCES 
.competence{
  width: 80%;
  margin: 5em auto 0 auto;
  img{
    width: 100%;
    max-width: 1000px;
    margin: 2em auto; 
    border-radius: 14px;
  }
  .html-image{
    width: 100%;
    display: flex;     
  }
  h3{
    font-size: 2em;
    color: white;

  }
}

//COMPETENCES

//CENTRES D INTERET
.interet{
  width: 80%;
  margin: 5em auto 0 auto;
  h3{
    font-size: 2em;
    color: white;
  }
  .interet-description{
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px,1fr));  
    justify-items: center;
    row-gap: 3em;
    column-gap: 1em;
    img{
      border-radius: 14px;
      height: 400px;
      width: 400px;
    }
    .inter{
      position: relative;
      filter: blur(2px);
      -webkit-filter: blur(2px);
      transition: all .7s ease-in;
  &:hover{
    filter: blur(0px);
      -webkit-filter: blur(0px);
  }
      span{
        position: absolute;
        bottom: 3em;
        left: 1em;
        font-size: 2em;
        font-weight: 700;
        color: white;
      }
    }
  }
}

//CENTRES DINTERET





.grow, .grow-small{
  transform: scale(4);
  background: white;
  mix-blend-mode: difference; 
  border: none;
}

.grow-small{
  transform: scale(2);
}





























.spans{
  color: black;
}






// MEDIA QUERY MOBILE

@media screen and (max-width: 1046px) {
  body {
    label {
      display: flex;
    }
    header {
      nav {
        width: 95%;
        ul {
          display: none;
        }
        .right-side {
          margin-left: 1em;
          margin-right: auto;
          .color-selector {
            margin-left: 1.8em;
          }
        }
        #check {
          display: flex;
        }
      }
    }
    .experience{
      h3{
        text-align: center;
      }
    .first-experience{
      text-align: center;
    .first-experience-description{
      flex-direction: column;
      ul{
        text-align: left;
        margin: 0 auto;
      }
    }  
  }  
}
.interet-description{
  
  justify-content: center;
  align-items: center;
  img{
    width: 350px !important;
    height: 35q0px !important;
    justify-content: center;
    align-items: center;
  }
}
}
}



// MEDIA QUERY MOBILE




























// lIGHT MODE

body.light {
  .spans{
    color: rgb(129, 55, 55);
  }
  transition: all 0.3s ease-in;
  background-color: #e6ddd2;
  header {
    nav {
      ul {
        color: black;
        a {
          color: black !important;
        }
      }
      .right-side {
        .dark-mode {
          background-color: #805ad5;
          img {
            content: url("images/sun-svgrepo-com.svg");
          }
        }
        .glow-on-hover {
          color: black !important;
        }
        .glow-on-hover:after {
          background-color: transparent;
        }
      }
    }
  }
  .LOGO h1 a{
    color: black;
    &:hover{
      cursor: none ;
    }

    
  }
  .iam{
    h3{
      color: black;
      background-color: rgba(255, 255, 255, 0.36);
      &:hover{
        background-color: rgba(255, 255, 255, 0.5);
       }
    }
  }
  .experience{
    color: black;
  }
  .competence{
    h3{
      color: black;
    }
    img{
      content: url(images/carbon-jour.png);
    }
  }
}
// LIGHT MODE












[data-scroll] {
  transition:  all ease-in .3s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-100%);
}


#cursor{
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: transparent !important;
}

#cursor2{
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 5;
}


